body {
	image-rendering: url(if_github_square_black_107109.png);
	image-rendering: url(if_stackoverflow_394194.png);
	image-rendering: url(if_LinkedIN_104826.png);
	image-rendering: url(IMG_1335.jpg)
}